<main id="splashscreen">
    <div id="shownwork"></div>
    <blockquote>‘When I started buying paintings for the first time in 1972, I did not know that I was starting a collection...’</blockquote>
    </main>

<!--<script src="/js/lib/lodash.min.js"></script>
<script src="/js/grouper_core.js"></script>-->
<script>
    async function start() { 
        const work={{{work}}}[0];
        const artist={{{artist}}};
        const assets="{{{assets}}}";
  /*
  db={{{works}}}; 
  dba={{{artists}}};
  groupsfieldname="{{groupsfieldname}}"; 
  groups={{{groups}}}; 
  galleryV(); 
  randomBG();
  */
    
    const shownwork=document.querySelector("#shownwork");
    const url=`url("${assets}/full/${work.id}.webp`;
    console.log(work);
    bg.style.backgroundImage=url;
    shownwork.innerHTML=`<a href="/work/${work.id}"><h2>${work.title_tr}</h2><p>${artist.name}</p></a>`;

    
  }
const bg=document.querySelector("#splashscreen");
  document.addEventListener('pointermove', (pos) => {
    let x = parseInt(pos.clientX / window.innerWidth * 100);
    let y = parseInt(pos.clientY / window.innerHeight * 100);
    let position=(50+(x-50)*.1)+"% "+(50+(y-50)*.1)+"%";
    console.log(position);
    bg.style.backgroundPosition=position;

});
  start();

</script>