<main>
<div id="searchTitle">{{lang.search.[0]}}<h1>{{{ keyword }}}</h1>{{lang.search.[1]}}{{{dbLength}}}{{lang.search.[2]}}</div>
</main>

<script src="/js/lib/lodash.min.js"></script>
<script src="/js/grouper_core.js"></script>
<script>
  async function start() { 
  db={{{works}}}; 
  dba={{{artists}}};
  dbaf={{{artistsFound}}};
  groupsfieldname="{{groupsfieldname}}"; 
  groups={{{groups}}}; 
  searchV( {{{dbLength}}} ); 
  }
  start();
</script>