<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/lib/smoothscroll.min.js"></script>
    
  </head>

  <script>
    const dict= JSON.parse(`{{{dict}}}`);
    let lang="en";
    smoothScroll.defaults({duration: 200}); 
    const settings = { 
      exhibitionMode: false, 
      editing: true, 
      editProp: false, 
      verbose: true, 
      collection1: "works",
      imageField: "id", 
      imagePath: "{{assets}}", 
      imageArray: false, 
      imageSelector: false, 
      }; 
  </script>
  <body class="darkmode {{{bodyClass}}}">
    <header>
      <a id="logo" href="https://taviloglukoleksiyon.org/tk/">
        <span>{{lang.tav}}</span>
      </a>
      <nav id="primary-menu">
        <a href="https://taviloglukoleksiyon.org/tk/">{{lang.nav.about}}</a>
        |
        <a href="/gallery">{{lang.nav.gallery}}</a>
        <a href="/gallery/artists">{{lang.nav.artists}}</a>
        <a href="/gallery/type">{{lang.nav.type}}</a>
        |
        <a onclick="opensearch()" class="searchButton">{{lang.nav.search}}</a>
        <!--<a href="/timeline">Timeline</a>
        <a href="/groups/technique">Technique</a>
        <a href="/gallery/material">Material</a>
        <a href="/gallery/theme">Theme</a>-->
      </nav>
      <nav id="secondary-menu">
        <a id="modeButton" onclick="darkmode()"><img src="/assets/darkMode.svg"/></a>
        <div class="lang">
          <a href="#" id="lang-toggle" class="lang__option"><img src="/assets/langSwitch.svg"/></a>
          <ul class="lang__list">
            <li><a href="#" class="lang__option" onclick="langSwitch('tr')">tur</a></li>
            <li><a href="#" class="lang__option" onclick="langSwitch('en')">eng</a></li>
          </ul>
        </div>
        <!-- <a href="/login">login</a> -->
      </nav>

    </header>
    {{{body}}}
    <div id="searchbox" class="overlay">
        <span class="closebtn" onclick="closeSearch()" title="Close Searchbox">x</span>
  <div class="searchbox-content">
    <div>
      <input id="searchKey" type="text" placeholder="Search..." name="search" onkeypress="searchNow(event)">
      <button type="submit" onclick="searchButton()" id="searchButton"><img src="/assets/search.svg"/></button>
    </div>
    </div>
    </div>


<footer>
<dl>
  <dt>Last Update</dt> 
<dd>16.08.2024</dd>

<dt>Copyright © 2024</dt> 
<dd>All rights reserved.</dd>

<dt>DIGITAL COLLECTION</dt>
<dd>powered by Grouper</dd>
</dl>
</footer>


<script>
function darkmode() {
  //var element = document.body;
  document.body.classList.toggle("darkmode");
  const modeButton=document.querySelector("#modeButton");
  if(document.body.classList.contains("darkmode"))
    modeButton.innerHTML="{{lang.nav.lmode}}";
    else
    modeButton.innerHTML="{{lang.nav.dmode}}";
}

document.getElementById('lang-toggle').addEventListener('click', function(e){
  e.preventDefault();
  this.parentNode.classList.toggle('is-open');
});

function navToggle(){
  var element = document.getElementsByTagName("nav");
  element[0].classList.toggle("menu");
}

var searchInput = document.getElementById("searchKey");
searchInput.addEventListener("keypress", function (event) {
  if (event.key === "Enter"){
    event.preventDefault();
    document.getElementById("searchButton").click();
  }
}); 
  
  
function opensearch(){
  document.getElementById("searchbox").style.display = "block";
}

// Close the full screen search box
function closeSearch() {
  document.getElementById("searchbox").style.display = "none";
}

</script>

  </body>
</html>